<div class="app__nav container-fluid">
    <div class="container">
        <div class="justify-content-between row">
            <div class="col-md-3 col-6">
                <a class="navigation__logo-area" href="/">
                    <svg width="34" height="42" viewBox="0 0 34 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M13.4549 14.4248H11.0263H6.58203C6.9026 15.3191 7.39317 16.1365 8.0246 16.8289C9.36032 15.3528 11.2983 14.4248 13.4549 14.4248Z"
                            fill="#E5CDB0"></path>
                        <path
                            d="M20.5957 19.2332H23.0146H27.4637C27.1431 18.3389 26.6526 17.5215 26.0211 16.8291C24.6903 18.3052 22.7523 19.2332 20.5957 19.2332Z"
                            fill="#E5CDB0"></path>
                        <path
                            d="M20.5957 14.4248H13.4557C11.2991 14.4248 9.3611 15.3528 8.02539 16.8289C9.3611 18.3051 11.2991 19.233 13.4557 19.233H20.5957C22.7522 19.233 24.6902 18.3051 26.026 16.8289C24.6902 15.3528 22.7522 14.4248 20.5957 14.4248Z"
                            fill="#E5CDB0"></path>
                        <path
                            d="M19.5699 34.98C20.7745 36.3119 19.3077 37.6245 17.0248 37.6245C14.7419 37.6245 13.2702 36.3119 14.4797 34.98C13.7219 35.5089 12.8477 36.9033 12.8477 38.2496C12.8477 39.5959 13.5422 40.5912 13.5422 40.5912C13.5422 40.5912 14.2708 41.8413 16.7965 41.9904C16.8694 42 16.9422 42 17.0248 42C17.1074 42 17.1802 42 17.2531 41.9904C19.7788 41.8413 20.5074 40.5912 20.5074 40.5912C20.5074 40.5912 21.2019 39.5959 21.2019 38.2496C21.2019 36.9033 20.3277 35.5089 19.5699 34.98Z"
                            fill="#00779F"></path>
                        <path
                            d="M24.2955 26.4453V7.21236C24.2955 3.23114 21.0315 0 17.0098 0C18.3503 0 19.4383 1.07705 19.4383 2.40412V31.2536C19.4383 32.5807 18.3503 33.6577 17.0098 33.6577C21.0363 33.6577 24.2955 30.4266 24.2955 26.4453Z"
                            fill="#00779F"></path>
                        <path
                            d="M14.5818 31.2536V2.40412C14.5818 1.07705 15.6697 0 17.0103 0C12.9886 0 9.72461 3.23114 9.72461 7.21236V26.4453C9.72461 30.4266 12.9886 33.6577 17.0103 33.6577C15.6697 33.6577 14.5818 32.5807 14.5818 31.2536Z"
                            fill="#00779F"></path>
                        <path
                            d="M4.37143 16.4923C4.37143 6.23631 7.82 2.26951 11.696 0.788574C4.90571 2.99075 0 9.3184 0 16.7808C0 25.3587 6.47943 32.4364 14.8629 33.4798C9.928 32.8355 4.37143 29.5082 4.37143 16.4923Z"
                            fill="#00779F"></path>
                        <path
                            d="M33.9996 16.7808C33.9996 9.3184 29.0939 2.99075 22.3036 0.788574C26.1796 2.26951 29.6282 6.23631 29.6282 16.4923C29.6282 29.5082 24.0716 32.8355 19.1367 33.4798C27.5202 32.4364 33.9996 25.3587 33.9996 16.7808Z"
                            fill="#00779F"></path>
                        <path
                            d="M23.0235 9.61635H27.4677C26.4672 6.81314 23.7715 4.80811 20.5949 4.80811H13.4549C10.2832 4.80811 7.5826 6.81314 6.58203 9.61635H11.0263H23.0235Z"
                            fill="#E5CDB0"></path>
                        <path
                            d="M11.0166 24.041H6.58203C7.5826 26.8442 10.2783 28.8493 13.4549 28.8493H20.5949C23.7666 28.8493 26.4672 26.8442 27.4677 24.041H23.0186H11.0166Z"
                            fill="#E5CDB0"></path>
                    </svg><span>創業幫</span></a>
            </div>
            <div class="d-flex align-items-center col-md-8">
                <ul class="navigation__list">
                    <li class="nav-item"><a class="nav-item__link" href="/activity">
                            <svg width="18" height="16" viewBox="0 0 18 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M11.9154 13.25V12.0833C11.9154 11.4645 11.6695 10.871 11.2319 10.4334C10.7944 9.99583 10.2009 9.75 9.58203 9.75H4.91536C4.29653 9.75 3.70303 9.99583 3.26545 10.4334C2.82786 10.871 2.58203 11.4645 2.58203 12.0833V13.25"
                                    stroke="#00779F" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path
                                    d="M7.2513 7.41667C8.53997 7.41667 9.58464 6.372 9.58464 5.08333C9.58464 3.79467 8.53997 2.75 7.2513 2.75C5.96264 2.75 4.91797 3.79467 4.91797 5.08333C4.91797 6.372 5.96264 7.41667 7.2513 7.41667Z"
                                    stroke="#00779F" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path
                                    d="M15.418 13.2498V12.0832C15.4176 11.5662 15.2455 11.064 14.9288 10.6554C14.612 10.2468 14.1685 9.95493 13.668 9.82568"
                                    stroke="#00779F" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path
                                    d="M11.332 2.82568C11.8339 2.95419 12.2788 3.24609 12.5965 3.65536C12.9142 4.06464 13.0866 4.568 13.0866 5.0861C13.0866 5.6042 12.9142 6.10756 12.5965 6.51684C12.2788 6.92611 11.8339 7.21801 11.332 7.34652"
                                    stroke="#00779F" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg><span class="nav-item__text">線下活動</span></a></li>
                    <li class="nav-item"><a class="nav-item__link" href="/journal"><svg width="18" height="16"
                                viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 3.9165V12.0832" stroke="#00779F" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path
                                    d="M10.9457 5.0835H8.02908C7.66809 5.0835 7.32189 5.23714 7.06663 5.51063C6.81137 5.78412 6.66797 6.15506 6.66797 6.54183C6.66797 6.9286 6.81137 7.29954 7.06663 7.57303C7.32189 7.84652 7.66809 8.00016 8.02908 8.00016H9.97352C10.3345 8.00016 10.6807 8.15381 10.936 8.4273C11.1912 8.70079 11.3346 9.07172 11.3346 9.4585C11.3346 9.84527 11.1912 10.2162 10.936 10.4897C10.6807 10.7632 10.3345 10.9168 9.97352 10.9168H6.66797"
                                    stroke="#00779F" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path
                                    d="M9.0013 13.8332C12.223 13.8332 14.8346 11.2215 14.8346 7.99984C14.8346 4.77818 12.223 2.1665 9.0013 2.1665C5.77964 2.1665 3.16797 4.77818 3.16797 7.99984C3.16797 11.2215 5.77964 13.8332 9.0013 13.8332Z"
                                    stroke="#00779F" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg><span class="nav-item__text">獲取資金</span></a></li>
                    <li class="nav-item"><a class="nav-item__link" href="/journal"><svg width="18" height="16"
                                viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M3.16602 3.75H6.66602C7.28485 3.75 7.87835 3.99583 8.31593 4.43342C8.75352 4.871 8.99935 5.46449 8.99935 6.08333V14.25C8.99935 13.7859 8.81497 13.3408 8.48679 13.0126C8.1586 12.6844 7.71348 12.5 7.24935 12.5H3.16602V3.75Z"
                                    stroke="#00779F" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path
                                    d="M14.8333 3.75H11.3333C10.7145 3.75 10.121 3.99583 9.68342 4.43342C9.24583 4.871 9 5.46449 9 6.08333V14.25C9 13.7859 9.18437 13.3408 9.51256 13.0126C9.84075 12.6844 10.2859 12.5 10.75 12.5H14.8333V3.75Z"
                                    stroke="#00779F" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg><span class="nav-item__text">創業手札</span></a></li>
                    <li class="nav-item nav-item__expansion"><svg width="18" height="16" viewBox="0 0 18 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.33398 8H6.34398" stroke="#00779F" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path
                                d="M8.06414 5.33318C8.71219 5.33317 8.87507 5.33316 9.33399 5.33316C10.2625 5.33317 10.334 5.33317 10.334 5.33317M4.33398 4.6665C4.66732 4.6665 5.39748 4.8566 5.65145 5.617C4.85926 5.97159 4.25686 6.63098 3.93693 7.43785C3.60876 8.26552 3.23852 9.12087 2.34817 9.12087V9.12087C2.25144 9.12087 2.68113 11.054 2.68113 11.054L4.34593 11.2175C4.76357 11.8163 5.49668 12.4268 6.25462 12.7366C6.25462 12.7366 6.55621 13.739 6.55621 13.9896C6.85779 13.9896 7.73483 14.0126 7.76256 13.9896V13.9896C8.23634 13.5959 8.49754 12.9872 9.11353 12.9872H10.4768L10.7784 13.9896C11.08 13.9896 12.2864 13.9896 12.2864 13.9896L12.588 12.628C14.0129 12.0131 15.0007 10.6739 15.0007 9.12087C15.0007 7.37264 14.0637 6.38089 13.0007 5.85464"
                                stroke="#00779F" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M14.9999 7.99554C14.9999 7.99554 15.7321 7.85811 16.327 6.98792" stroke="#00779F"
                                stroke-miterlimit="10" stroke-linecap="round"></path>
                            <path
                                d="M10.666 5.33333C10.8753 5.05475 10.9994 4.70845 10.9994 4.33317C10.9994 3.4127 10.2532 2.6665 9.33268 2.6665C8.41221 2.6665 7.66602 3.4127 7.66602 4.33317C7.66602 4.70845 7.79005 5.05475 7.99935 5.33333"
                                stroke="#00779F" stroke-linecap="round"></path>
                        </svg><span class="nav-item__text">創業資源</span><svg width="16" height="16" viewBox="0 0 16 16"
                            fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.75 6.625L7.5 10.375L11.25 6.625" stroke="#00779F" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                        <div class="nav-dropdown"></div>
                    </li>
                    <li class="nav-item nav-item__expansion"><svg width="18" height="16" viewBox="0 0 18 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10.5574 5.62314C10.4599 5.72259 10.4053 5.8563 10.4053 5.99556C10.4053 6.13482 10.4599 6.26852 10.5574 6.36798L11.4087 7.21922C11.5081 7.3167 11.6418 7.3713 11.7811 7.3713C11.9203 7.3713 12.054 7.3167 12.1535 7.21922L14.1592 5.21348C14.4268 5.80466 14.5078 6.46333 14.3914 7.10172C14.2751 7.7401 13.967 8.32787 13.5082 8.78671C13.0493 9.24555 12.4616 9.55365 11.8232 9.66997C11.1848 9.78628 10.5261 9.70528 9.93496 9.43776L6.25866 13.1141C6.04701 13.3257 5.75995 13.4446 5.46063 13.4446C5.1613 13.4446 4.87424 13.3257 4.66259 13.1141C4.45094 12.9024 4.33203 12.6153 4.33203 12.316C4.33203 12.0167 4.45094 11.7296 4.66259 11.518L8.33888 7.84168C8.07136 7.2505 7.99036 6.59183 8.10667 5.95345C8.22299 5.31507 8.53109 4.72729 8.98993 4.26846C9.44877 3.80962 10.0365 3.50152 10.6749 3.3852C11.3133 3.26889 11.972 3.34989 12.5632 3.61741L10.5627 5.61782L10.5574 5.62314Z"
                                stroke="#00779F" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg><span class="nav-item__text">創業工具</span><svg width="16" height="16" viewBox="0 0 16 16"
                            fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.75 6.625L7.5 10.375L11.25 6.625" stroke="#00779F" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                        <div class="nav-dropdown"></div>
                    </li>
                    <li class="nav-item"><a class="nav-item__link" href="/login"><span
                                class="nav-item__text">登入</span></a></li>
                    <li class="nav-item"><a class="nav-item__link" href="/signup"><span
                                class="nav-item__text">註冊</span></a></li>
                    <li class="nav-item"><a class="nav-item__link" href="/password-reset"><span
                                class="nav-item__text">忘密</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="app__main">
    <section class="hero container" id="hero">
        <div class="d-flex align-items-center row">
            <div class="hero__text col-6">
                <h1 class="title">{{categoryInfo.name}}</h1>
                <p class="description">{{categoryInfo.description}}
                </p>
            </div>
            <div class="col-6 justify-content-center d-flex">
                <img class="w-75" [srcset]="
                convertPath(categoryInfo.heroImagePath + '.png') + ' ' + 
                convertPath(categoryInfo.heroImagePath + '@1.5x.png') + ' 1.5x, ' + 
                convertPath(categoryInfo.heroImagePath + '@2x.png')  + ' 2x'
                " src="convertPath(categoryInfo.heroImagePath + '.png')" [alt]="categoryInfo.name">
            </div>
        </div>
        <div class="w-100 d-flex justify-content-center">
            <a [href]="convertPath('/category/' + categoryInfo.id + '#invstigators')">
                <svg class="align-items-center" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                        stroke="#00779F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M8 12L12 16L16 12" stroke="#00779F" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M12 8V16" stroke="#00779F" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </a>
        </div>
    </section>
    <section id="invstigators" class="invstigators container">
        <h1 class="title">本組投資召集人</h1>
        <div class="list row">
            <div class="item col-6 p-3" *ngFor="let investigator of categoryInfo.investigators">
                <img class="p-5" [src]="convertPath(investigator.imagePath)">
                <div class="motto-card p-4 m-3">
                    <div class="quote-sign me-auto"><svg width="26" height="23" viewBox="0 0 26 23" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.511875 14.2812C0.511875 10.1562 1.07438 7.1875 2.19938 5.375C3.38688 3.5625 5.38688 1.96875 8.19938 0.59375L11.6681 5.1875C9.41813 6.375 8.04313 7.40625 7.54313 8.28125C7.10563 9.09375 6.88688 10.125 6.88688 11.375H11.7619V22.625H0.511875V14.2812ZM14.1056 14.2812C14.1056 10.1562 14.6681 7.1875 15.7931 5.375C16.9181 3.5625 18.9181 1.96875 21.7931 0.59375L25.1681 5.1875C22.9806 6.375 21.6369 7.40625 21.1369 8.28125C20.6369 9.09375 20.3869 10.125 20.3869 11.375H25.2619V22.625H14.1056V14.2812Z"
                                fill="#006F95" />
                        </svg></div>
                    <p class="motto col text-center m-0">{{investigator.quote}}</p>
                    <div class="quote-sign ms-auto"><svg width="26" height="23" viewBox="0 0 26 23" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M25.7166 8.71875C25.7166 12.8437 25.1541 15.8125 24.0291 17.625C22.8416 19.4375 20.8416 21.0313 18.0291 22.4062L14.5604 17.8125C16.8104 16.625 18.1854 15.5938 18.6854 14.7187C19.1229 13.9063 19.3416 12.875 19.3416 11.625H14.4666L14.4666 0.375L25.7166 0.375L25.7166 8.71875ZM12.1229 8.71875C12.1229 12.8437 11.5604 15.8125 10.4354 17.625C9.31039 19.4375 7.31039 21.0312 4.43539 22.4062L1.06039 17.8125C3.24789 16.625 4.59164 15.5938 5.09164 14.7187C5.59164 13.9062 5.84164 12.875 5.84164 11.625H0.96664V0.375H12.1229V8.71875Z"
                                fill="#006F95" />
                        </svg></div>
                </div>
                <div class="intro-card px-4 py-3 m-3">
                    <p class="title m-0">{{investigator.name}}</p>
                    <p class="award m-0">{{investigator.award}}</p>
                    <p class="company m-0">{{investigator.title}}</p>
                </div>
            </div>
        </div>
    </section>
    <section class="operation-flow container">
        <h1 class="title">運作流程</h1>
        <div class="row">
            <div class="col">
                <div class="m-4">
                    <div class="image-card w-100 p-5">
                        <img class="w-100" [src]="convertPath('/assets/operation-flow-icons/002-detective.svg')">
                    </div>
                    <div class="title pt-3">
                        資格審查
                    </div>
                    <div class="description pt-1">
                        依據業者申請的組別，由工作小組確認是否符合資格，資料是否齊全，若有需要則會通知業者補件。
                    </div>
                </div>
                <div class="m-4">
                    <div class="image-card p-5">
                        <img class="w-100" [src]="convertPath('/assets/operation-flow-icons/006-building.svg')">
                    </div>
                    <div class="title pt-3">
                        實地訪視
                    </div>
                    <div class="description pt-1">
                        召集人指派產業導師與工作小組一起進行，訪視完後於召集人會議中提出報告，並由所屬組別召集人補充說明。
                    </div>
                </div>
                <div class="m-4">
                    <div class="image-card p-5">
                        <img class="w-100" [src]="convertPath('/assets/operation-flow-icons/004-guarantee.svg')">
                    </div>
                    <div class="title pt-3">
                        具投資可行性
                    </div>
                    <div class="description pt-1">
                        邀請業者前來進行簡報，並由各組進行進一步討論是否投資。
                    </div>
                </div>
                <div class="m-4">
                    <div class="image-card p-5">
                        <img class="w-100" [src]="convertPath('/assets/operation-flow-icons/001-invest.svg')">
                    </div>
                    <div class="title pt-3">
                        投資
                    </div>
                    <div class="description pt-1">
                        由工作小組進行盡責調査 (會同財務及法務)
                    </div>
                </div>
            </div>
            <div class="col-6 d-none d-lg-block">
                <div class="row align-items-start">
                    <picture>
                        <source class="w-100" [srcset]="convertPath('/assets/operation-flow-diagram/flow-xl.svg')"
                            media="(min-width: 1400px)">
                        <source class="w-100" [srcset]="convertPath('/assets/operation-flow-diagram/flow-l.svg')"
                            media="(min-width: 1200px)">
                        <source class="w-100" [srcset]="convertPath('/assets/operation-flow-diagram/flow-m.svg')"
                            media="(min-width: 992px)">
                        <img class="w-100" [src]="convertPath('/assets/operation-flow-diagram/test6-as-m.svg')">
                    </picture>
                </div>
            </div>
            <div class="card-list card-list-right col">

                <div class="m-4" style="margin-top: 100% !important;"></div>
                <div class="m-4">
                    <div class="image-card p-5">
                        <img class="w-100" [src]="convertPath('/assets/operation-flow-icons/005-consultation.svg')">
                    </div>
                    <div class="title pt-3">
                        投委會聯合審査
                    </div>
                    <div class="description pt-1">
                        工作小組於各組月會中提出當月申請的個案並逐案審査裁定：
                        <li>1. 指派產業導師</li>
                        <li>2. 進行長期觀察</li>
                        <li>3. 可以轉介其他資源</li>
                        <li>4. 皆不符合則結案</li>
                    </div>
                </div>

                <div class="m-4" style="margin-top: 90% !important;">
                    <div class="image-card p-5">
                        <img class="w-100" [src]="convertPath('/assets/operation-flow-icons/007-authentication.svg')">
                    </div>
                    <div class="title pt-3">
                        未具投資可行性
                    </div>
                    <div class="description pt-1">
                        轉介其他資源，或是結案。
                    </div>
                </div>

                <div class="m-4">
                    <div class="image-card p-5">
                        <img class="w-100" [src]="convertPath('/assets/operation-flow-icons/008-chat.svg')">
                    </div>
                    <div class="title pt-3">
                        產業導師輔導
                    </div>
                    <div class="description pt-1">
                        該業者具可發展性但尚未具投資可行性，列入長期觀察，並由所屬組別召集人指派產業導師與工作小組共同進行輔導
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="qualification bg_gray">
        <div class="container">
            <h1 class="title">運作流程</h1>
            <div class="row">
                <div class="col-3 p-4">
                    <div class="icon-card m-2">
                        <div class="image p-5">
                            <img class="w-100" [src]="convertPath('/assets/category-qualification-icons/不違法.png')">
                        </div>
                    </div>
                    <div class="text-card p-4 mx-2 my-4">
                        <h2 class="qualification-header">不違法</h2>
                        <p class="m-0">最近三年有嚴重違反環境保護、勞工或食品安全衛生相關法律或身心障礙者權益保障法之相關規定且情節重大經各中央目的事業主管機關認定之情事。</p>
                    </div>
                </div>
                <div class="col-3 p-4">
                    <div class="icon-card m-2">
                        <div class="image p-5">
                            <img class="w-100" [src]="convertPath('/assets/category-qualification-icons/不違約.png')">
                        </div>
                    </div>
                    <div class="text-card p-4 mx-2 my-4">
                        <h2 class="qualification-header">不違約</h2>
                        <p class="m-0">於5年內曾有執行政府計畫之重大違約紀錄者。有因執行政府計畫受停權處分，且其期間尚未屆滿情事。</p>
                    </div>
                </div>
                <div class="col-3 p-4">
                    <div class="icon-card m-2">
                        <div class="image p-5">
                            <img class="w-100" [src]="convertPath('/assets/category-qualification-icons/不欠稅.png')">
                        </div>
                    </div>
                    <div class="text-card p-4 mx-2 my-4">
                        <h2 class="qualification-header">不欠稅</h2>
                        <p class="m-0">有因執行政府計畫受停權處分，且其期間尚未屆滿情事。</p>
                    </div>
                </div>
                <div class="col-3 p-4">
                    <div class="icon-card m-2">
                        <div class="image p-5">
                            <img class="w-100" [src]="convertPath('/assets/category-qualification-icons/非外資.png')">
                        </div>
                    </div>
                    <div class="text-card p-4 mx-2 my-4">
                        <h2 class="qualification-header">非外資</h2>
                        <p class="m-0">外國營利事業在台設立之分公司。境外公司持有申請公司股份達50%以上(含)者。</p>
                    </div>
                </div>
            </div>
            <h2 class="subtitle">該準備哪些文件？</h2>
            <div class="row">
                <div class="col-4 p-4">
                    <div class="text-card p-4">
                        <h3 class="application-number">1</h3>
                        <h2 class="qualification-header">完整的會員資料</h2>
                        <p class="m-0">填寫完整的會員資料</p>
                    </div>
                </div>
                <div class="col-4 p-4">
                    <div class="text-card p-4">
                        <h3 class="application-number">2</h3>
                        <h2 class="qualification-header">公司登記</h2>
                        <p class="m-0">檢附公司登記基本資料</p>
                    </div>
                </div>

                <div class="col-4 p-4">
                    <div class="text-card p-4">
                        <h3 class="application-number">3</h3>
                        <h2 class="qualification-header">提案簡報</h2>
                        <p class="m-0">檢附此次提案簡報</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="boost-business">
        <div class="container">
            <div class="row mt-5">
                <img class="col-6 p-5" [src]="convertPath('/assets/category-boost-business-illustration.svg')">
                <div class="col-6 p-5">
                    <h1 class="text-end title mb-3">你準備好了嗎？</h1>
                    <a class="d-flex align-self-stretch justify-content-end  mt-5">
                        <button class="investigators-button w-50">
                            立即申請
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="any-question  bg_gray">
        <div class="container mt-5">
            <div class="row">
                <img class="col-6 p-5" [src]="convertPath('/assets/category-section-illustration/question.svg')">
                <div class="col-6 p-5 d-flex flex-column align-items-end">
                    <h1 class="text-end title mb-3">仍有不清楚！？</h1>
                    <p class="text-end my-2 mb-5">直接來信獲得解答</p>
                    <div class="email-card p-5">
                        <h1 class="title">question@tier.org.tw</h1>
                    </div>
                    <a class="d-flex align-self-stretch justify-content-end mt-5">
                        <button class="investigators-button w-50">
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M3.5 4H15.5C16.325 4 17 4.675 17 5.5V14.5C17 15.325 16.325 16 15.5 16H3.5C2.675 16 2 15.325 2 14.5V5.5C2 4.675 2.675 4 3.5 4Z"
                                    stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M17 5.5L9.5 10.75L2 5.5" stroke="white" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                            來信詢問
                        </button>
                    </a>
                    <div class="pt-5 text-end">
                        <p class="m-0">計畫諮詢單位：全國創新創業總會</p>
                        <p class="m-0">聯絡人：謝先生</p>
                        <p class="m-0">聯絡電話：02-2332-8558</p>
                        <p class="m-0">Email：question@tier.org.tw</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="app__footer container-fluid">
    <div class="footer">
        <div class="container">
            <div class="row mx-5 py-5">
                <div class="col-3 p-4 ">
                    <h3 class="mb-1"><small>主辦單位</small></h3>
                    <img class="w-100 mb-4" [src]="convertPath('/assets/footer/中企處LOGO_2 1.png')">
                </div>
                <div class="col-3 p-4">
                    <h3 class="mb-1"><small>維護單位</small></h3>
                    <img class="w-100 mb-4" [src]="convertPath('/assets/footer/台經院LOGO_2 2.png')">
                </div>
                <div class="contact-list col-3 p-4">
                    <h3 class="mb-1"><small>聯絡我們</small></h3>
                    <a href="/">計畫主旨</a>
                    <a href="/">聯絡我們</a>
                    <a href="/">服務條款及隱私說明</a>
                </div>
                <div class="relative-link-list col-3 p-4">
                    <h3 class="mb-1"><small>相關網站</small></h3>
                    <a href="/">FINDIT早期資金投資平台</a>
                    <a href="/">女性創業飛雁計畫</a>
                    <a href="/">服務條款及隱私說明</a>
                    <a href="/">中小企業網路大學校</a>
                    <a href="/">微型創業鳳凰</a>
                    <a href="/">經濟部中小企業處</a>
                </div>
            </div>
        </div>
    </div>
</div>