// 賢賢的CSS

.navigation__logo-area {
    display: flex;
    align-items: baseline;
    margin-left: 10%;
}

.nav-item {
    width: 13.5%;
    margin: 0 12px;
}

.nav-item__expansion, .nav-item__link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation__list {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
    list-style: none;
    font-size: 12px;
}

.nav-item__text {
    margin: 1.25rem 0 1.25rem 3px;
    border-bottom: 2px solid transparent;
    color: #00779f;
}
a, a:hover {
    text-decoration: none;
}

.navigation__logo-area span {
    margin-left: 8px;
    font-size: 36px;
    color: #00779f;
} 



.main {
    margin-left: 3rem;
    margin-right: 3rem;
}

.text-theme-color {
    color: #365d82;
}


.app__footer {
    margin-top: 6rem;
    background-color: #00779f;
}

.footer {
    min-height: 40vh;
}