

// 賢賢的CSS

.nav-item {
  width: 13.5%;
  margin: 0 12px;

  &__expansion,
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    margin: 1.25rem 0 1.25rem 3px;
    border-bottom: 2px solid transparent;
    color: #00779f;
  }
}

.navigation {
  &__list {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
    list-style: none;
    font-size: 12px;
  }

  &__logo-area span {
    margin-left: 8px;
    font-size: 36px;
    color: #00779f;
  }

  &__logo-area {
    display: flex;
    align-items: baseline;
    margin-left: 10%;
  }
}

a,
a:hover {
  text-decoration: none;
}

// 由於需要處理bg-color，所以不用.main
// .main {
//   margin-left: 3rem;
//   margin-right: 3rem;
// }

.text-theme-color {
  color: #365d82;
}


.app__footer {
  margin-top: 6rem;
  background-color: #00779f;
}

.footer {
  min-height: 40vh;
}

// 賢賢的CSS--END



// Guideline Variables

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');

h1,
p {
  font-family: 'Noto Sans TC', sans-serif;
}

$theme-color:#00779F;
$secondary-color: #7d828e;

@mixin article-title {
  font-size: 2.25rem;
}

@mixin article-subtitle {
  font-size: 1.125rem;
  font-weight: bold;
}

@mixin primary-section-title {
  font-size: 1.5rem;
  font-weight: bold;
}

@mixin secondary-section-title {
  font-size: 1.125rem;
  font-weight: bold;
}

@mixin primary-text {
  font-size: 1.125rem;
}

@mixin secondary-text {
  font-size: 0.875rem;
}

@mixin important-hint {
  font-size: 0.75rem;
  font-weight: bold;
}

// Custom Variables

@mixin hint {
  font-size: 0.75rem;
}

@mixin card {
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 2px 2px 25px rgb(0 128 171 / 16%);
  transition: -webkit-transform .1s ease-in;
  transition: transform .1s ease-in;
}

@mixin giant-text {
  font-size: 4rem;
}

// shared classes

.description {
  height: 200px;
}

.bg {
  &_gray {
    background-color: #F5F5F5;
  }
}

.title {
  @include article-title;
  font-weight: bold;
  color: $theme-color;
}

.subtitle {
  @include primary-section-title;
  font-weight: bold;
  color: $theme-color;
}

section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

p {
  @include primary-text;
}

.investigators-button {
  color: white;
  background-color: #00779F;
  padding: 6px 8px;
  text-decoration: none;

  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  border: 0;

  &:hover {
    color: white;
    box-shadow: 0 6px 13px 0 rgb(0 128 171 / 40%);
    background-color: #00779F;
  }
}

.app {
  scroll-behavior:smooth;
}

// media quiries

$xlMinWidth: 1400px;
$lMinWidth: 1200px;
$mMinWidth: 992px;
$sMinWidth: 501px;

@function translate-media-condition($c) {
  $condMap: (
    "screen": "only screen",
    "print": "only print",
    "mdpi": "(-webkit-min-device-pixel-ratio: 1)",
    "hdpi": "(-webkit-min-device-pixel-ratio: 1.5) and (min-resolution: 120dpi)",
    "xhdpi": "(-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)",
    ">xlWidth": "(min-width: #{$xlMinWidth + 1})",
    "<xlWidth": "(max-width: #{$xlMinWidth})", 		
    ">lWidth": "(min-width: #{$lMinWidth + 1})",
    "<lWidth": "(max-width: #{$lMinWidth})",
    ">mWidth": "(min-width: #{$mMinWidth + 1})",
    "<mWidth": "(max-width: #{$mMinWidth})",
    ">sWidth": "(min-width: #{$sMinWidth + 1})",
    "<sWidth": "(max-width: #{$sMinWidth})",
  );
  @return map-get( $condMap, $c );
}

// The mdia mixin
@mixin media($args...) {
  $query: "";
  @each $arg in $args {
    $op: "";
    @if ( $query != "" ) {
      $op: " and ";
    }
    $query: $query + $op + translate-media-condition($arg);
  }
  @media #{$query}  { @content; }
}

// sections

.hero {
  @include media("mdpi") {
    background-image: url('~src/assets/introduction-hero/introduction-hero-xl.png');
    @include media("mdpi", "<lWidth") {background-image: url('~src/assets/introduction-hero/introduction-hero-l.png');};
    @include media("mdpi", "<mWidth") {background-image: url('~src/assets/introduction-hero/introduction-hero-m.png');};
    @include media("mdpi", "<sWidth") {background-image: url('~src/assets/introduction-hero/introduction-hero-s.png');};
  };
  
  @include media("hdpi") {
    background-image: url('~src/assets/introduction-hero/introduction-hero-xl@1.5x.png');
    @include media("hdpi", "<lWidth") {background-image: url('~src/assets/introduction-hero/introduction-hero-l@1.5x.png');};
    @include media("hdpi", "<mWidth") {background-image: url('~src/assets/introduction-hero/introduction-hero-m@1.5x.png');};
    @include media("hdpi", "<sWidth") {background-image: url('~src/assets/introduction-hero/introduction-hero-s@1.5x.png');};
  };

  @include media("xhdpi") {
    background-image: url('~src/assets/introduction-hero/introduction-hero-xl@2x.png');
    @include media("xhdpi", "<lWidth") {background-image: url('~src/assets/introduction-hero/introduction-hero-l@2x.png');};
    @include media("xhdpi", "<mWidth") {background-image: url('~src/assets/introduction-hero/introduction-hero-m@2x.png');};
    @include media("xhdpi", "<sWidth") {background-image: url('~src/assets/introduction-hero/introduction-hero-s@2x.png');};
  };

  .people1 {
    width: 100%;
    height: 50vh;
    position: absolute;
    top: 10vh;
    background-color: khaki;
    background-image: url('~src/assets/introduction-hero/introduction-hero-people1-m.png');
  }

  // background-image: url('~src/assets/introduction-hero/hero-cover.png');
  background-image: url('~src/assets/introduction-hero/introduction-hero-xl.png');
  background-size: cover;
  background-position: center;

  .question-card {
    @include card;

    transform: translatey(0px);
    animation: float-a-lot 6s ease-in-out infinite;
    transition: transform .5s ease-in;

    @keyframes float-a-lot {
      0% {
        box-shadow: 0 6px 13px 0 rgb(0 128 171 / 35%);
        transform: translatey(0px);
      }
      50% {
        box-shadow: 0 18px 13px 0 rgb(0 128 171 / 10%);
        transform: translatey(-10px);
      }
      100% {
        box-shadow: 0 6px 13px 0 rgb(0 128 171 / 35%);
        transform: translatey(0px);
      }
    }

    @keyframes float-little {
      0% {
        box-shadow: 0 6px 13px 0 rgb(0 128 171 / 35%);
        transform: translatey(0px);
      }
      50% {
        box-shadow: 0 12px 13px 0 rgb(0 128 171 / 10%);
        transform: translatey(-5px);
      }
      100% {
        box-shadow: 0 6px 13px 0 rgb(0 128 171 / 35%);
        transform: translatey(0px);
      }
    }

    &:hover {
      color: white;
      box-shadow: 0 6px 13px 0 rgb(0 128 171 / 40%);
      animation: float-little 0.5s ease-in-out infinite;
    }

    p {
      color: $theme-color !important;
    }
    
  }
}

.suitable-investigator {
  color: $theme-color;

  .icon-card {
    @include card;
    box-shadow: none;
  }

  .title {
    @include article-title;
    font-weight: normal
  }
}


.investigator-compare {
  color: $secondary-color;

  .title {
    @include article-title;
    font-weight: normal;
  }

  .strategy-investigator-card {
    background-color: #203352;
    color: #F1F6EC;
    border-radius: 2rem;
  }

  .financial-investigator-card {
    background-color: #F1F6EC;
    color: #203352;
    border-radius: 2rem;
  }

  .badge {
    position: absolute;
    right: 20%;
    background-color: #4C5E8C;
    color: #F2E8DE;
    border-radius: 1rem;
  }

  .compare-card {
    @include card;
    box-shadow: none;

    &:hover {
      background-color: #00779F;
      color: #FFF;

      .strategic-text, .financial-text {
        color: #FFF;
      }

      .vertical-line {
        background-color: #FFF;
      }
    }
  }

  .vertical-line {
    height: inherit;
    width: 1px;
    background-color: $secondary-color;
  }

  .strategic-text {
    color: $theme-color;
  }

  .financial-text {
    color: $secondary-color;
  }

  small {
    @include secondary-text;
  }
}

.features {
  color: $theme-color;

  .feature-number {
    width: 8rem;
  }

  .title {
    @include article-title;
  }

  h1 {
    position: absolute;
    font-size: 4rem;
  }
}

.categories {
  color: $theme-color;

  .category-card {
    @include card;

    &:hover {
      color: white;
      box-shadow: 0 6px 13px 0 rgb(0 128 171 / 40%);
      // background-color: #00779F;
    }
  }

  .subtitle {
    @include primary-text;
  }

  .title {
    @include article-title;
  }

  .category-list {
    .title {
      @include primary-section-title;
    }
  }
}

.footer {
  small {
    @include secondary-text;
    font-weight: normal;
    color: #FFF;
  }

  a {
    display: block;
    color: white;
    text-decoration: underline;
    @include primary-text;
  }
  
  .relative-link-list {
    @include secondary-text;
  }
}